@import "@design-system";

.dashboard-tools {
  display: flex;
  gap: sp(2);
}

.dashboard-tools__searchbar {
  flex: 3 0 auto;
}

.dashboard-tools__select {
  width: 144px;
  font-size: $fs-sm;
}

.dashboard-tools__sort-select {
  width: 220px;
  font-size: $fs-sm;
}

.dashboard-tools__select-item {
  font-size: $fs-sm;
}

.dashboard-tools__filters-button.button {
  font-size: $fs-sm;
}
