@import "@design-system";

.data-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: sp(6);
}

.data-list__item-label {
  font-size: $fs-sm;
  color: $gray;
  text-wrap: nowrap;
}

.data-list__item-data {
  @include heading($fs-sm);
}
