@import "@design-system";

.dropdown__item {
  color: $gray-dark;
  transition:
    0.3s background-color,
    0.3s color;
  background-color: $white;
  padding: sp(2) sp(4);
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: $gray;
    background-color: $white-darker;
  }

  &.start-icon,
  &.end-icon {
    display: flex;
    gap: sp(4);
    align-items: center;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.large {
    font-size: $fs-lg;
  }

  &.medium {
    font-size: $fs-base;
  }

  &.small {
    font-size: $fs-sm;
  }
}
