@import "@design-system";

.table {
  // .table used to not use !important
  .values-dashboard-table__id-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 15%;
  }

  .values-dashboard-table__country-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 15%;
  }

  .values-dashboard-table__indicator-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 15%;
  }

  .values-dashboard-table__year-cell {
    text-align: center;
    font-size: $fs-xs;
    width: 7%;
  }

  .values-dashboard-table__value-cell {
    text-align: center;
    font-size: $fs-xs;
    width: 7%;
  }

  .values-dashboard-table__last-updated-cell {
    font-size: $fs-xs;
    width: 9%;
    text-align: center;
  }

  .values-dashboard-table__check-cell {
    font-size: $fs-xs;
    width: 3.5%;
    padding-left: sp(4) !important;
  }

  .values-dashboard-table__datapoints-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }

  .values-dashboard-table__more-cell {
    font-size: $fs-xs;
    width: 4%;
  }
}

.values-dashboard-table__container {
  margin-bottom: sp(2);

  @include breakpoint("md") {
    margin-bottom: sp(4);
  }
}
