@import "@design-system";

.indicator-modal__text {
  font-size: $fs-sm;
  line-height: 1.4;
  text-align: justify;
}

.indicator-modal__tags-section {
  transform: translateY((-6px));
}

.indicator-modal__tags {
  flex-wrap: wrap;
}
