.indicator-country-table__value-cell {
  width: 75%;
}

.indicator-country-table__year-cell {
  width: 25%;
  text-align: right;
}

.indicator-country-table__value-sorting-button {
  justify-content: end;
}
