@import "@design-system";

.table {
  .values-dashboard-table__switch-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .values-dashboard__check {
    width: 20px;
    color: $gray-light !important;
    transition:
      0.3s background-color,
      0.3s color;

    &:hover {
      color: $gray !important;
    }

    svg {
      height: 20px;
      width: 20px;

      path {
        fill: transparent;
        transition: 0.3s fill;
      }
    }
  }

  .table__body-cell {
    transition: 0.3s background-color;
  }

  .selected {
    .table__body-cell {
      background-color: $white-darker;
    }

    .values-dashboard__check {
      color: $gray-dark !important;

      path {
        fill: $gray-dark;
      }
    }
  }

  .values-dashboard__more-button {
    width: 20px;
    color: $gray !important;

    &:hover {
      color: $gray-dark !important;
    }
  }
}
