@import "@design-system";

.select__item {
  @include ui-text-color;
  @include ui-text-color-hover;
  @include ui-bg-color;
  @include ui-bg-color-hover;
  @include ui-text-scale;

  padding: sp(2) sp(4);
  cursor: pointer;
  line-height: 1.3;

  &.selected {
    background-color: $white-darker;
  }
}
