@import "@design-system";

.confirm {
  padding: sp(7);
  border-radius: $rounded-xl;
  background-color: $white;
  position: relative;
  box-shadow: 0 0 15px 0 rgba($color: #000000, $alpha: 0.3);
  min-width: 320px;

  @include breakpoint("md") {
    min-width: 400px;
  }
}

.confirm__title {
  @include heading($fs-base);
  margin-bottom: sp(4);
  line-height: 1.4;
}

.confirm__subtitle {
  color: $gray;
  font-size: $fs-sm;
  margin-bottom: sp(8);
  line-height: 1.4;
}

.confirm__actions {
  display: flex;
  gap: sp(4);
  justify-content: flex-end;
}
