@import "reset.scss";
@import "foundation/all";

.view-height {
  @include view-height;
}

:root {
  --header-height: 64.8px;
  --footer-height: 96.7px;
  --search-bar-height: 65.6px;
  --screen-height: 100svh;

  --desktop-view-height: calc(
    var(--screen-height) - var(--header-height) - var(--footer-height)
  );
  --mobile-view-height: calc(var(--screen-height) - var(--header-height));

  @include breakpoint("md") {
    --footer-height: 52.8px;
    --header-height: 76.7px;
    --search-bar-height: 81.6px;
  }
}

.error {
  border-color: $error;
  background-color: transparentize($color: $error, $amount: 0.975);
}

@each $size in $flex-sizes {
  .flex-#{replace-dot-with-hyphen($size)} {
    flex-grow: 0;
    flex-shrink: 3;
    flex-basis: $size * 1%;
  }
}

.flex-grow {
  flex: 3 0 auto;
}

.flex-static {
  flex: 0 0 auto;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

.one-line {
  white-space: nowrap;
}

.public-view-height {
  min-height: calc(
    100vh - var(--header-height) - var(--footer-height) - var(
        --search-bar-height
      )
  );

  @include breakpoint("md") {
    min-height: calc(
      100vh - var(--header-height) - var(--footer-height) - var(
          --search-bar-height
        )
    );
  }
}
