@import "@design-system";

.table {
  // .table used to not use !important
  .indicators-dashboard-table__id-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 12.5%;
  }

  .indicators-dashboard-table__label-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 22.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .indicators-dashboard-table__description-cell {
    font-size: $fs-xs;
    width: 20%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .indicators-dashboard-table__source-cell {
    font-size: $fs-xs;
    width: 20%;
    text-align: left;
  }

  .indicators-dashboard-table__unit-cell {
    font-size: $fs-xs;
    width: 10%;
  }

  .indicators-dashboard-table__last-updated-cell {
    font-size: $fs-xs;
    width: 9%;
    text-align: center;
  }

  .indicators-dashboard-table__absolute-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }

  .indicators-dashboard-table__hidden-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }

  .indicators-dashboard-table__check-cell {
    font-size: $fs-xs;
    width: 4%;
    padding-left: sp(4) !important;
  }

  .indicators-dashboard-table__datapoints-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }
}

.indicators-dashboard-table__container {
  margin-bottom: sp(2);

  @include breakpoint("md") {
    margin-bottom: sp(4);
  }
}
