@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --black: 12 12 12;
  --black-light: 38 38 38;
  --black-dark: 6 6 6;
  --blue: 52 132 240;

  --blue-color: rgba(52, 132, 240);

  --header-height: 158.4px;
  --footer-height: 56.8px;
}

main {
  min-height: calc(100vh - var(--header-height));
}

.container {
  max-width: 1048px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 1048px;
    padding-right: 24px;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .pretty-scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
  }

  .pretty-scrollbar::-webkit-scrollbar-track {
    background: #f2f2f2;
  }

  .pretty-scrollbar::-webkit-scrollbar-thumb {
    background: #e0e0e0;
  }
}

.country-table:first-child th:first-child {
  border-radius: 8px 0 0 0;
}

.country-table:first-child th:last-child {
  border-radius: 0 8px 0 0;
}

.country-row:last-child > td {
  border-bottom: none !important;
}

.rc-slider-track {
  background-color: #3484f0 !important; /* Change this to the desired track color */
  z-index: 2 !important;
}

.rc-slider-rail {
}

/* Styling the handle (thumb) of the slider */
.rc-slider-handle {
  background: white !important; /* Change this to the desired handle color */
  border: 2px solid #3484f0 !important; /* Change this to the desired handle border color */
  z-index: 5 !important;
  opacity: 100 !important;
}

/* Styling the tooltip that displays the value */
.rc-slider-tooltip {
  background-color: #3484f0 !important; /* Change this to the desired tooltip background color */
  color: #ffffff; /* Change this to the desired tooltip text color */
  border: none; /* Remove the tooltip border */
}

/* Styling the tooltip arrow */
.rc-slider-tooltip-arrow {
  border-top-color: #3484f0 !important; /* Change this to the desired tooltip arrow color */
}

.rc-slider-dot {
  background-color: #3484f0 !important;
  border-color: #3484f0 !important;
}

@media screen and (max-width: 768px) {
  .rc-slider-track {
    background-color: #3484f0 !important; /* Change this to the desired track color */
    z-index: 2 !important;
    height: 3px !important;
  }

  .rc-slider-rail {
    height: 3px !important;
  }

  /* Styling the handle (thumb) of the slider */
  .rc-slider-handle {
    background: white !important; /* Change this to the desired handle color */
    border: 2px solid #3484f0 !important; /* Change this to the desired handle border color */
    opacity: 100 !important;
    height: 10px !important;
    width: 10px !important;
    margin-top: -3.5px !important;
  }

  /* Styling the tooltip that displays the value */
  .rc-slider-tooltip {
    background-color: #3484f0 !important; /* Change this to the desired tooltip background color */
    color: #ffffff; /* Change this to the desired tooltip text color */
    border: none; /* Remove the tooltip border */
  }

  /* Styling the tooltip arrow */
  .rc-slider-tooltip-arrow {
    border-top-color: #3484f0 !important; /* Change this to the desired tooltip arrow color */
  }

  .rc-slider-dot {
    background-color: #3484f0 !important;
    border-color: #3484f0 !important;
  }

  .rc-slider-mark {
    font-size: 11px !important;
  }
}
