@import "@design-system";

.table__row {
  height: 44px;

  @include breakpoint("md") {
    height: 46px;
  }
}

.table.no-semantic {
  .table__row {
    border-bottom: 1px solid #e5e7eb;
    display: flex;
  }
}
