@import "@design-system";

.info-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-view__icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: sp(8);
  color: $gray-light;

  & svg {
    height: 80px;
    width: 80px;
  }
}

.info-view__title {
  text-align: center;
  color: $gray-light;
}
