@import "@design-system";

.dashboard-header {
  display: flex;
  padding: sp(8) 0;
  gap: sp(2);
}

.dashboard-header__create-button {
  padding-left: sp(4);
  gap: sp(3);
  margin-left: auto;

  svg {
    width: 20px;
    height: 20px;
  }
}
