@import "@design-system";

.select {
  background-color: $white;
  color: $gray-dark;
  transition:
    0.3s color,
    0.3s border,
    0.3s background-color;
  border-radius: $rounded-lg;
  border: 1px solid $ui-elements-light-border;
  padding: sp(2) sp(4);
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  gap: sp(4);
  cursor: pointer;
  height: 40px;

  &.large {
    font-size: $fs-lg;
  }

  &.medium {
    font-size: $fs-base;
  }

  &.small {
    font-size: $fs-sm;
  }

  &:hover {
    color: $gray;
    border-color: $ui-elements-light-border-hover;
    background-color: $white-darker;
  }
}

.select__selected-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.select__chevron {
  color: inherit;

  svg {
    height: 16px;
    width: 16px;
  }
}

.select__container {
  background-color: $white;
  border-radius: $rounded-lg;
  border: 1px solid $ui-elements-light-border;
  padding-top: sp(2);
  box-shadow: 0 0 3px 0 rgba($color: $black, $alpha: 0.1);
  overflow: hidden;
}

.select__options {
  @include pretty-scrollbar;

  max-height: $screen-height / 3;
  overflow: auto;
  padding: 0 0 sp(2) 0;

  &:first-child {
    padding: sp(2) 0;
  }
}
