@import "@design-system";

$table-cell-sizes: (5, 7.5, 10, 12.5, 15, 17.5, 20, 22.5, 25, 27.5, 30, 40, 50);

.table__head-cell {
  @include ui-border;
  @include ui-text-color;

  background-color: $white-darker;
  color: $gray !important;

  font-weight: 500;
  border-radius: 0 !important;

  border-top: none !important;
  border-right: none !important;
  border-left: none !important;

  line-height: 1.3;

  padding: 0 sp(1);

  &.small {
    font-size: $fs-xxs;
  }

  &.medium {
    font-size: $fs-xs;
  }

  &.large {
    font-size: $fs-sm;
  }

  &:last-child {
    padding: 0 sp(4) 0 sp(1);
  }

  &:first-child {
    padding: 0 sp(1) 0 sp(4);
  }

  @include breakpoint("md") {
    padding: 0 sp(2);

    &.small {
      font-size: $fs-xs;
    }

    &.medium {
      font-size: $fs-sm;
    }

    &.large {
      font-size: $fs-base;
    }

    &:last-child {
      padding: 0 sp(6) 0 sp(2);
    }

    &:first-child {
      padding: 0 sp(2) 0 sp(6);
    }
  }
}

.table.no-semantic {
  .table__head-cell {
    height: 44px;
    display: flex;
    align-items: center;

    @include breakpoint("md") {
      height: 46px;
    }
  }
}
