@import "@design-system";

.table {
  // .table used to not use !important
  .countries-dashboard-table__id-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 10%;
  }

  .countries-dashboard-table__name-cell {
    text-align: left;
    font-size: $fs-xs;
    width: 18%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .countries-dashboard-table__iso2code-cell {
    font-size: $fs-xs;
    width: 8%;
    text-align: center;
  }

  .countries-dashboard-table__geocode-cell {
    font-size: $fs-xs;
    width: 8%;
    text-align: center;
  }

  .countries-dashboard-table__last-updated-cell {
    font-size: $fs-xs;
    width: 9%;
    text-align: center;
  }

  .countries-dashboard-table__type-cell {
    font-size: $fs-xs;
    width: 8%;
    text-align: center;
  }

  .countries-dashboard-table__hidden-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }

  .countries-dashboard-table__check-cell {
    font-size: $fs-xs;
    width: 4%;
    padding-left: sp(4) !important;
  }

  .countries-dashboard-table__datapoints-cell {
    font-size: $fs-xs;
    width: 7.5%;
    text-align: center;
  }

  .countries-dashboard-table__more-cell {
    font-size: $fs-xs;
    width: 4%;
  }
}

.countries-dashboard-table__container {
  margin-bottom: sp(2);

  @include breakpoint("md") {
    margin-bottom: sp(4);
  }
}
