@import "@design-system";

.dropdown {
  border-radius: $rounded-lg;
  border: 1px solid $ui-elements-light-border;
  background-color: $white;
  overflow: hidden;
  padding: sp(2) 0;
  box-shadow: 0 0 3px 0 rgba($color: $black, $alpha: 0.1);
}
