@import "@design-system";

.dashboard-tools {
  display: flex;
  gap: sp(2);
  margin-bottom: sp(4);
}

.dashboard-tools__values-select {
  width: 260px;

  &:first-child {
    width: auto;
    flex: 3 0 auto;
  }
}
