@import "@design-system";

.dashboard-tools {
  display: flex;
  gap: sp(2);
}

.dashboard-tools__searchbar {
  flex: 3 0 auto;
}

.dashboard-tools__select {
  width: 144px;
}

.dashboard-tools__sort-select {
  width: 220px;
}

.dashboard-tools__region-type-select {
  width: 190px;
}
