@import "@design-system";

.indicator-form {
  width: 440px;

  .input-label__title {
    padding-left: sp(1);
  }
}

.indicator-form__title {
  @include heading($fs-lg);

  text-align: center;
  margin-bottom: sp(3);
}

.create-indicator-form__title {
  margin-bottom: sp(7);
}

.indicator-form__subtitle {
  font-size: $fs-xs;
  text-align: center;
  color: $gray-light;
  margin-bottom: sp(6);
}

.indicator-form__input {
  width: 100%;
}

.indicator-form__label-container {
  margin-bottom: sp(4);
}

.indicator-form__input-group {
  display: flex;
  gap: sp(3);
}

.indicator-form__input-label {
  width: 100%;
}

.indicator-form__switchers {
  padding: sp(2) 0 sp(4);
  display: flex;
  justify-content: space-between;
  margin-bottom: sp(6);
}

.indicator-form__save-button {
  width: 100%;
}
